p {
  font-size: 12px;
  color: red;
}

a {
  text-decoration: underline;
  color: blue;
}

span {
  text-transform: uppercase;
  color: blue;
}

h1 {
  font-size: 32px;
}

div {
  width: 100%;
  background-color: grey;
}
