/* Footer */
.footer {
   border-top: 1px solid #aaa;
   padding: 2rem 1.5rem;
   margin-top: 2rem;

   .footer-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      @media (max-width: 768px) {
         flex-direction: column;
         gap: 1.5rem;
      }
   }

   img {
      width: 120px;
      height: 35px;
   }

   h4 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
   }

   a {
      margin: 0.2rem;
   }
}
