/* Services */
.services {
   padding: 3rem 0 4rem;
}

.services-flex {
   display: flex;
   gap: 2rem;

   @media (max-width: 768px) {
      flex-direction: column;
      gap: 1.5rem;
   }
}

.service-item h4 {
   font-size: 1.1rem;
   margin-bottom: 0.7rem;
}
