/* Features */
.features {
   background-color: var(--tertiary-color);
   padding: 6rem 2rem;

   .features__container {
      text-align: center;

      .features__title {
         font-size: 2.3rem;
         margin-bottom: 2rem;
         text-transform: uppercase;
      }

      .features__description {
         max-width: 600px;
         margin: 1rem auto 4rem;
      }

      .features__grid {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 2rem;

         @media (max-width: 992px) {
            grid-template-columns: 1fr;
         }

         .features__grid-column {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 6rem;

            .features__grid-item {
               display: flex;
               align-items: start;
               justify-content: start;
               text-align: right;
               gap: 1.5rem;

               .features__grid-item-text-title {
                  font-size: 1.3rem;
                  font-weight: 600;
                  margin-bottom: 1rem;
               }

               .features__grid-item-icon {
                  margin-top: 2rem;

                  @media (max-width: 992px) {
                     margin: 0 auto;
                  }

                  i {
                     color: var(--primary-color);
                  }
               }
            }
         }
      }
   }
}

.features__grid-column-right {
   .features__grid-item {
      flex-direction: row-reverse;
      text-align: left;
   }
}

@media (max-width: 992px) {
   .features__grid-column-left,
   .features__grid-column-right {
      order: 2;
      margin-bottom: 2rem;
   }

   .features__grid-column-center {
      order: 1;
      margin-bottom: 3rem;

      img {
         max-width: 300px;
      }
   }

   .features__grid-item,
   .features__grid-column-right .features__grid-item {
      text-align: center;
      flex-direction: column-reverse;
      max-width: 400px;
   }
}
