:root {
   --page-1-color: steelblue;
   --page-2-color: tan;
   --page-3-color: teal;
   --page-4-color: slateblue;
   --animate-speed: 2s;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.4;
   color: #fff;
   overflow: hidden;
}

/* PAGE COLORS */
#page-1 {
   background-color: var(--page-1-color);
}

#page-2 {
   background-color: var(--page-2-color);
}

#page-3 {
   background-color: var(--page-3-color);
}

#page-4 {
   background-color: var(--page-4-color);
}

.page {
   display: flex;
   flex-direction: column;
   height: 100vh;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0 4rem;
}

.page h1 {
   font-size: 3rem;
   line-height: 1.2;
   margin: 1rem;
}

.page p {
   font-size: 1.1rem;
}

.btn {
   display: inline-block;
   padding: 1rem 2rem;
   background-color: #f4f4f4;
   color: #333;
   text-decoration: none;
   border: none;
   border-radius: 12px;
   margin-top: 1rem;
   margin-right: 1rem;
   font-size: 1.1rem;
   transition: all 0.3s ease-in;
}

.btn:hover,
.btn:active,
.btn-dark {
   background-color: #333;
   color: #fff;
}

.btn-dark:hover,
.btn-dark:active {
   background-color: #f4f4f4;
   color: #333;
}

/* PAGE ANIMATION */
#page-1 h1 {
   transform: translateY(-1200px);
   animation: heading var(--animate-speed) forwards ease-in;
}

#page-1 p {
   transform: translateX(-1800px);
   animation: text var(--animate-speed) forwards ease-in;
}

/* KEYFRAMES */
@keyframes heading {
   to {
      transform: translateY(0);
   }
}

@keyframes text {
   to {
      transform: translateX(0);
   }
}
