html,
body,
.content-wrapper {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.content-wrapper {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
}

.login-screen {
  flex: 1;
  display: flex;
}

.login-screen .login-left p {
  color: white;
  font-size: 20px;
  text-align: left;
  width: 100%;
}

.login-left {
  width: 50%;
  background: #1da1f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./twitter.svg");
  background-repeat: no-repeat;
  background-size: 1020px 1110px;
  background-position: 104px -200px;
}

.login-right {
  width: 50%;
  background: white;
}

.link-terkait {
  background: white;
  padding: 0px 0px;
  border-top: 3px solid #a9bac4;
}

.link-terkait ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.link-terkait ul li {
  padding: 10px 10px;
  font-size: 12px;
}

.link-terkait ul li a {
  color: #a9bac4;
  text-decoration: none;
}

.link-terkait ul li a:hover {
  text-decoration: underline;
}

.form {
  width: 200px;
  height: 20px;
  border: 1px solid #edecf0;
  border-radius: 4px;
  color: grey;
  padding: 10px;
  outline: none;
  margin-bottom: 5px;
}

.btn-outline {
  height: 40px;
  padding: 10px 16px;
  border: 1px solid #1da1f2;
  color: #1da1f2;
  background: white;
  border-radius: 5px;
}

.btn-outline:hover {
  background: #1da1f2;
  color: white;
}

.login-action {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.form-group a {
  text-decoration: none;
  color: gray;
}

.form-group a:hover {
  text-decoration: underline;
}
