/* Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */
html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.7em; /* 27.2px */
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

/* ------------- */
/* GENERAL CLASS */
/* ------------- */
.container {
  margin: 0 auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  border: none;
  display: inline-block;

  border-radius: 0.5rem;
  font-size: 18px;
  padding: 13px 20px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #f7c08a;
  color: #333;
}

.btn-primary {
  background-color: #333;
  color: #fff;
}

.btn-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-light {
  background-color: #f4f4f4;
  color: #333;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.bg-primary {
  color: #333;
  background-color: #f7c08a;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 40px;
  line-height: 1.2;
}

.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}

.py-3 {
  padding: 30px 0;
}
