.author-img {
  float: left;
  padding-top: 20px;
  margin-bottom: 20px;
}

.author {
  padding-top: 20px;
  margin-left: 20px;
  float: left;
}

h1 {
  float: left;
}

.navbar {
  float: right;
}

/* Better than using empty div */
.clearFix::after {
  clear: both;
  content: "";
  display: block;
}
