/* Mobile Menu */
.mobile-menu {
   display: none;

   @media (max-width: 768px) {
      display: block;

      .mobile-menu-toggle {
         display: block;
         padding: 10px;
      }
   }
}

.navbar {
   .mobile-menu-toggle {
      color: #fff;
      cursor: pointer;
   }

   .mobile-menu-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-size: 1.2rem;
   }

   .mobile-menu-items {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0.95;
      padding: 3rem 2rem;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      transform: translateX(100%);
      transition: transform 0.3s ease;

      &.active {
         transform: translateX(0);
      }
   }
}
