:root {
   --primary-color: #425b84;
   --secondary-color: #5b7bb4;
   --max-width: 1100px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font: normal 1rem/1.5 "Arial", sans-serif;
   background-color: var(--primary-color);
   color: white;
   overflow-x: hidden;
   padding-bottom: 50px;
}

#main-header {
   background-color: var(--secondary-color);
   padding: 4rem 0;
}

.container {
   max-width: var(--max-width);
   margin: 0 auto;
   text-align: center;
}

h1 {
   font-size: 2.3rem;
}

#timeline ul {
   background-color: var(--primary-color);
   padding: 50px 0;
}

/* CREATE LINE */
#timeline ul li {
   list-style: none;
   position: relative;
   width: 6px;
   margin: 0 auto;
   padding-top: 50px;
   background-color: #fff;
}

/* BOXES */
#timeline ul li div {
   position: relative;
   bottom: 0;
   width: 400px;
   padding: 1rem;
   background-color: var(--secondary-color);

   transition: all 0.5s ease-in-out;
   visibility: hidden;
   opacity: 0;
}

/* RIGHT SIDE (ganjil) */
#timeline ul li:nth-child(odd) div {
   left: 40px;
   transform: translate(200px, 0);
}

/* LEFT SIDE (genap) */
#timeline ul li:nth-child(even) div {
   left: -434px;
   transform: translate(-200px, 0);
}

/* DOTS */
#timeline ul li:after {
   content: "";
   position: absolute;
   left: 50%;
   bottom: 0;
   width: 25px;
   height: 25px;
   background-color: inherit;
   transform: translateX(-50%);
   border-radius: 8px;

   transition: background 0.5s ease-in-out;
}

/* ARROW BASE */
#timeline div:before {
   content: "";
   position: absolute;
   bottom: 5px;
   width: 0;
   height: 0;
   border-style: solid;
}

/* RIGHT SIDE ARROWS */
#timeline ul li:nth-child(odd) div:before {
   left: -15px;
   border-width: 8px 16px 8px 0;
   border-color: transparent var(--secondary-color) transparent transparent;
}

/* LEFT SIDE ARROWS */
#timeline ul li:nth-child(even) div:before {
   right: -15px;
   border-width: 8px 0px 8px 16px;
   border-color: transparent transparent transparent var(--secondary-color);
}

/* SHOW BOXES */
#timeline ul li.show div {
   transform: none;
   visibility: visible;
   opacity: 1;
}

#timeline ul li.show:after {
   background-color: var(--secondary-color);
}

/* RESPONSIVE */
@media screen and (max-width: 900px) {
   #timeline ul li div {
      width: 250px;
   }

   #timeline ul li:nth-child(even) div {
      left: -284px;
   }
}

@media screen and (max-width: 600px) {
   #timeline ul li {
      margin-left: 20px;
   }

   #timeline ul li div {
      width: calc(100vw - 90px);
   }

   #timeline ul li:nth-child(even) div {
      left: 40px;
   }

   #timeline ul li:nth-child(even) div:before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent var(--secondary-color) transparent transparent;
   }
}
