* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Open Sans", sans-serif;
   background: black;
   color: white;
   line-height: 160%;
   letter-spacing: -0.1px;
}

.wrapper {
   min-height: 100dvh;
   background: linear-gradient(to bottom, rgba(255, 64, 50, 0.8), rgba(71, 17, 116, 0.9)),
      url("./images/img_background.jpg") no-repeat center/cover;
}

/* Header */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 30px;

   @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
      padding: 30px 10px 10px;
   }

   .logo {
      width: 100px;
   }

   .header-right {
      display: flex;
      align-items: center;
      gap: 25px;

      @media screen and (max-width: 768px) {
         flex-direction: column;
         gap: 10px;
      }

      i {
         margin-right: 5px;
      }

      a {
         color: white;

         &:hover {
            color: purple;
         }
      }
   }
}

/* Main Content */
.main-content {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 100px;

   max-width: 1100px;
   margin: 100px auto;
   height: 100%;
   padding: 0 40px;

   @media screen and (max-height: 500px) {
      margin: 0 auto;
   }

   @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: start;
      margin: auto;
      padding: 50px;
   }

   form {
      flex: 1;

      @media screen and (max-width: 768px) {
         width: 100%;
      }
   }

   .text-container {
      flex: 1;
      font-size: 18px;

      @media screen and (max-width: 768px) {
         width: 100%;
      }

      p {
         line-height: 180%;

         @media screen and (max-width: 768px) {
            display: none;
         }
      }

      h1 {
         font-size: 50px;
         margin-bottom: 24px;
         line-height: 130%;
         letter-spacing: -1.4px;

         @media screen and (max-height: 500px) {
            font-size: 40px;
         }

         @media screen and (max-width: 768px) {
            font-size: 40px;
            text-align: center;
            line-height: 1.4;
         }
      }
   }
}

/* Form */
.form-group {
   margin-bottom: 15px;

   label {
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 600;
   }

   input,
   textarea {
      width: 100%;
      padding: 15px;
      border: 0;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.2);
      color: white;
      outline: 0;
   }

   textarea {
      height: 100px;
      resize: none;
      margin-bottom: 10px;
   }
}

/* Button */
.btn {
   display: block;
   width: 100%;
   padding: 15px 20px;
   border-radius: 20px;
   font-size: 16px;
   border: 0;
   color: white;
   background-color: #ff4032;
   cursor: pointer;

   &:hover {
      background-color: #ff5c4d;
   }
}
