/*  SPACING SYSTEM (px) 
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
    FONT SIZE SYSTEM (px) 
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
*/

/*
    MAIN COLOR: #087f5b
    GREY COLOR: #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

.carousel {
  width: 800px;
  margin: 100px auto;
  background-color: #087f5b;
  padding: 24px 48px 24px 86px;
  color: #fff;

  border-radius: 8px;
  position: relative;

  display: flex;
  align-items: center;
  gap: 86px;
}

img {
  height: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.testimonial-author {
  font-size: 14px;
  margin-bottom: 6px;
  color: #c3fae8;
}

.testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}

/* Controls */
.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--left {
  left: 0;
  top: 50%;

  /* Translate self (horizontal, vertical) */
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;

  /* Translate self (horizontal, vertical) */
  transform: translate(50%, -50%);
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);

  display: flex;
  gap: 12px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: #087f5b;
}
