* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
   line-height: 160%;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: #333;

   &:hover {
      color: coral;
   }
}

h2 {
   margin-bottom: 20px;
}

p {
   margin: 10px 0;
}

.header {
   background-color: coral;
   padding: 40px 20px;
   color: white;

   @media screen and (max-width: 768px) {
      padding: 20px;
   }

   h1 {
      @media screen and (max-width: 768px) {
         font-size: 1.5rem;
         text-align: center;
      }
   }
}

.main-menu {
   display: flex;
   gap: 20px;
   padding: 20px;
   background-color: #f4f4f4;

   a {
      font-size: 20px;
   }

   /* Responsive */
   @media screen and (max-width: 768px) {
      flex-direction: column;
      text-align: center;
   }

   li {
      /* Responsive */
      @media screen and (max-width: 768px) {
         border-bottom: 1px solid #ccc;
         padding-bottom: 7px;
      }

      &.last-list-item {
         border: none;
      }
   }
}

.main {
   display: flex;
   gap: 70px;
   padding: 40px 20px;

   /* Responsive */
   @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
   }

   section {
      flex: 1;
   }

   aside {
      width: 300px;

      /* Responsive */
      @media screen and (max-width: 768px) {
         width: 100%;
      }

      h3 {
         padding: 10px;
         background-color: coral;
         color: white;
      }

      li {
         padding: 10px;
         background-color: #f4f4f4;
         border-bottom: 1px solid #ccc;
      }
   }
}
