// Set text color function
@function set-text-color($color) {
    @if (lightness($color) > 50%) {
        @return #333;
    }

    @else {
        @return #fff;
    }
}

// Transform mixin
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}