:root {
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
}

.category {
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    background-color: var(--light-color);
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

p {
    margin: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.55rem;
    line-height: 1.3;
}

/* Utility */
.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.category {
    display: inline-block;
    color: #fff;
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}
.category-sports {
    background-color: var(--sports-color);
}
.category-ent {
    background-color: var(--ent-color);
}
.category-tech {
    background-color: var(--tech-color);
}

.btn {
    display: inline-block;
    border: none;
    background-color: var(--dark-color);
    color: #fff;
    padding: 0.5rem 1.5rem;
}
.btn-light {
    background-color: var(--light-color);
}
.btn-primary {
    background-color: var(--primary-color);
}
.btn-secondary {
    background-color: var(--secondary-color);
}
.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}
.btn:hover {
    opacity: 0.9;
}

.card {
    background-color: #fff;
    padding: 1rem;
}

.bg-dark {
    background-color: var(--dark-color);
    color: #fff;
}
.bg-primary {
    background-color: var(--primary-color);
    color: #fff;
}
.bg-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
    color: #fff;
}

.py-1 {
    padding: 1.5rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1.5rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}

.l-heading {
    font-size: 3rem;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #555;
    width: 90%;
}

.list li a:hover {
    color: var(--primary-color) !important;
}

/* Inner Page Grid Container */
.page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0;
    gap: 1.5rem;
}

.page-container > *:first-child {
    grid-row: 1 / span 4;
}

/* Navigation */
#main-nav {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 6fr 4fr 2fr;
    padding: 1rem 2rem;
    align-items: center;
}

#main-nav .logo {
    width: 180px;
}

#main-nav ul {
    justify-self: end;
    display: flex;
    gap: 1rem;
}

#main-nav ul li a {
    padding: 0.75rem;
    font-weight: 400;
}

#main-nav ul li a.current {
    background-color: var(--primary-color);
    color: #fff;
}

#main-nav ul li a:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

#main-nav .social {
    justify-self: center;
}

#main-nav .social .social-icon {
    color: #777;
    margin-right: 0.55rem;
}

/* Showcase */
#showcase {
    color: #fff;
    background-color: #333;
    padding: 2rem;
    position: relative;
}

#showcase:before {
    content: "";
    background: url("../10-newsgrid-website/img/featured.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 50vh;
}

#showcase .showcase-content {
    z-index: 1;
}

#showcase .showcase-content p {
    margin-bottom: 1rem;
}

/* Home Articles */
#home-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child {
    grid-column: 2 / span 2;
}

#article .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 0.5rem;
}

#article .meta .category {
    margin-top: 0.4rem;
}

/* Footer */
#main-footer {
    background-color: var(--dark-color);
    color: #fff;
}

#main-footer img {
    width: 150px;
}

#main-footer a {
    color: #fff;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
    background-color: #444;
    grid-column: 1 / span 4;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
}

#main-footer .footer-container input[type="email"] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type="submit"] {
    width: 90%;
}
